<!doctype html>
<html ng-app="ngBackbase">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ngBackbase</title>

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/animations.css">
    </head>
    <body ng-controller="MainCtrl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li ng-repeat="year in years" ng-class="{'active':isCurrentYear(year)}">
                            <a ng-click="yearClicked(year)">
                                {{ year }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <!-- EDITING -->
                    <div class="driver-list">
                        <h1 ng-if="season">Top 5 Winners of {{ season }}</h1>
                        <p ng-repeat="item in driversList">{{ item.Driver.givenName }} {{ item.Driver.familyName }} </p>
                    </div>

                    <div class="races-list">
                        <h1 ng-if="season">List of Races in season</h1>
                        <p ng-repeat="item in racesList">
                            <a ng-click="getSeasonDetails(season, item.round);" href="#">{{ item.raceName }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <template id="modalHtml">
            <h1>List of Top Drivers</h1>
            <hr />
        </template>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
        <script src="app/app.js"></script>
    </body>
</html>
